<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
  <style>
    .loader {
      height: 100px;
      width: 100%;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      position: fixed;
      bottom: 20%;
    }

    h1.title {
      text-align: center;
      bottom: 50%;
      position: fixed;
      width: 100%;
    }
  </style>
</head>

<body aurelia-app="main">
  <h1 class="title">
    <%- htmlWebpackPlugin.options.metadata.title %> is loading</h1>
  <div class="loader">
    <img style="width: 70px;"
         src="loader.svg">
  </div>
  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
